.container {
   padding: 30px;
   margin: auto;
}

.jumbotron {
   width: 76%;
   margin: auto;
   margin-top: 12px;
   padding: 12px;
   font-size: 80px;
   border: 1px solid black;
   background-color: rgb(244, 40, 40);
}

h1 {
   text-align: center;
}

.table, .newtrainform {
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 20px;
   font-size: 18px;
}

.form-group {
   font-size: 18px;
}

.card-header {
   background-color: rgb(244, 40, 40);
   font-size: 29px;
   text-align: center;
   border: 1px solid black;
}